<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Lista de Filmes</title>
</head>
<body>
    <h1>Lista de Filmes</h1>

    <ul>
        {{#each filmes}}
            <li>{{this}}</li>
        {{/each}}
    </ul>
</body>
</html>