<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Lista de Filmes</title>
</head>
<body>
    <h1>Lista de Filmes</h1>

    <ul>
        {{{listaFilmes}}}
    </ul>
</body>
</html>