<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Usuário</title>
</head>
<body>

    <h1>Exemplo de Condicionais</h1>

    {{#if logado}}
        <p>Você está logado.</p>
    {{else}}
        <p>Você não está logado.</p>
    {{/if}}

    {{#unless admin}}
        <p>Você não é administrador.</p>
    {{/unless}}

</body>
</html>